  {%- liquid
    assign on_sale = false
    if product.compare_at_price > product.price
      assign on_sale = true
    endif
  
    if settings.product_grid_image_margin == 0
      assign image_breathing_room = false
    else
      assign image_breathing_room = true
    endif
  
    assign product_tags = product.tags | join: ','
    assign has_custom_label = false
    assign custom_labels = ''
    if product.metafields.theme.label and product.metafields.theme.label != blank
      assign has_custom_label = true
      assign custom_labels = product.metafields.theme.label.value
    elsif product_tags contains '_label_'
      for tag in product.tags
        if tag contains '_label_'
          assign tag_starts_with = tag | slice: 0
          if tag_starts_with == '_'
            assign has_custom_label = true
            assign custom_label = tag | replace: '_label_', ''
            assign custom_labels = custom_labels | append: custom_label | append: ','
          endif
        endif
      endfor
    endif
  -%}
  
  <div class="grid-item grid-product {{ classes }} grid-product-image-breathing-room--{{ image_breathing_room }}" data-product-handle="{{ product.handle }}" data-product-id="{{ product.id }}">
    <div class="grid-item__content">
  
        {%- if settings.quick_add_enable or settings.quick_shop_enable -%}
          <div class="grid-product__actions">
            {%- if settings.quick_shop_enable and type != 'horizontal' -%}
              <button class="btn btn--circle btn--icon quick-product__btn quick-product__btn--not-ready js-modal-open-quick-modal-{{ product.id }} small--hide" title="{{ 'products.general.quick_shop' | t }}" data-handle="{{ product.handle }}">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64"><path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58ZM54 54 41.94 42" style="stroke-miterlimit:10"/></svg>
                <span class="icon__fallback-text">{{ 'products.general.quick_shop' | t }}</span>
              </button>
            {%- endif -%}
            {%- if settings.quick_add_enable and product.available -%}
              {% comment %}
                Quick add feature:
                  - when a single variant option, product is immediately added
                  - when multiple variants, popup with product form appears
              {% endcomment %}
              {%- if product.variants.size > 1 -%}
                <button type="button" class="text-link quick-add-btn js-quick-add-form js-modal-open-quick-add" title="{{ 'products.product.add_to_cart' | t }}">
                  <span class="btn btn--circle btn--icon">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 64 64"><path class="cls-1" d="M32 9v46m23-23H9"/></svg>
                    <span class="icon__fallback-text">{{ 'products.product.add_to_cart' | t }}</span>
                  </span>
                </button>
              {%- else -%}
                <button type="button" class="text-link quick-add-btn js-quick-add-btn"
                        title="{{ 'products.product.add_to_cart' | t }}"
                        data-id="{{ product.selected_or_first_available_variant.id }}">
                  <span class="btn btn--circle btn--icon">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 64 64"><path class="cls-1" d="M32 9v46m23-23H9"/></svg>
                    <span class="icon__fallback-text">{{ 'products.product.add_to_cart' | t }}</span>
                  </span>
                </button>
              {%- endif -%}
            {%- endif -%}
          </div>
        {%- endif -%}
      
  
      {%- liquid
        assign imageRatio = settings.product_grid_image_size
        assign fixed_aspect_ratio = false
        unless imageRatio == 'natural'
          assign fixed_aspect_ratio = true
        endunless
  
        if image_style == 'circle'
          assign fixed_aspect_ratio = true
          assign imageRatio = 'square'
        endif
  
        assign preview_image = product.featured_media.preview_image
      -%}
  
      
       <a href="diamond-detail?product_id={{ product.id }}" class="grid-item__link"> <div class="grid-product__image-wrap">
         {%- if fixed_aspect_ratio -%}
            <div class="grid__image-ratio grid__image-ratio--{% if image_style == 'circle' %}square{% else %}{{ settings.product_grid_image_size }}{% endif %}">
              {%- capture image_classes -%}
                {% unless settings.product_grid_image_fill %} grid__image-contain{% endunless %} image-style--{{ image_style }}
              {%- endcapture -%}
              {%- if preview_image != blank -%}
                {%- render 'image-element',
                  img: preview_image,
                  sizes: sizes,
                  sizeVariable: sizeVariable,
                  fallback: fallback,
                  classes: image_classes,
                  loading: loading,
                  widths: '160, 200, 280, 360, 540, 720, 900',
                -%}
              {%- else -%}
                {%- capture placeholder -%}product-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                <div class="product-image--placeholder">{{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}</div>
              {%- endif -%}
            </div>
          {%- else -%}
            {%- liquid
              assign ratio = 1
              if preview_image != blank
                assign ratio = preview_image.aspect_ratio
              endif
            -%}
            <div {% if preview_image != blank %}style="height: 0; padding-bottom: {{ 100 | divided_by: ratio }}%;"{% endif %}>
              {%- if preview_image != blank -%}
                {%- render 'image-element',
                  img: preview_image,
                  sizes: sizes,
                  sizeVariable: sizeVariable,
                  fallback: fallback,
                  loading: loading,
                  classes: 'grid-product__image',
                  widths: '360, 540, 720, 900, 1080',
                -%}
              {%- else -%}
                {%- capture placeholder -%}product-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                <div class="product-image--placeholder">{{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}</div>
              {%- endif -%}
            </div>
          {%- endif -%}
  
          {%- if settings.product_hover_image and product.media.size > 1 -%}
            {%- for media in product.media offset: 1 limit: 1 -%}
              {%- assign second_image = media.preview_image -%}
            {%- endfor -%}
            <div class="grid-product__secondary-image small--hide">
              {%- capture secondary_image_classes -%}
                image-style--{{ image_style }}
              {%- endcapture -%}
              {%- render 'image-element',
                img: second_image,
                sizes: sizes,
                sizeVariable: sizeVariable,
                fallback: fallback,
                loading: loading,
                classes: secondary_image_classes,
                widths: '360, 540, 720, 1000',
              -%}
            </div>
          {%- endif -%}
        </div>  </a>
      <a href="diamond-detail?product_id={{ product.id }}" class="grid-item__link">  <div class="grid-item__meta">
          <div class="grid-item__meta-main">
              
              <div class="grid-product__title">{{ product.title }} 
                
                {% if product.metafields.Diamond.shape != blank %}
                  <span data-shape="{{ product.metafields.Diamond.shape }}">
                  , {{ product.metafields.Diamond.shape }} 
                  </span>
                  {% else %}
                  
                  {% assign description = product.description | split: '<br>' %}
                  {% for line in description %}
                    {% if line contains '<b>Shape</b>' %}
                      {% assign shape = line | split: ':' | last %}
                      <span data-shape="{{ shape | strip_html | strip }}">
                      , {{ shape | strip_html | strip }}
                      </span>
                    {% endif %}
                  {% endfor %}
                  {% endif %}
                {% if product.metafields.Diamond.weight != blank %} 
                  <span data-carat="{{ product.metafields.Diamond.weight }}">
                  , {{ product.metafields.Diamond.weight }}
                  </span>
                  {% else %}
                  {% assign description = product.description | split: '<br>' %}
                  {% for line in description %}
                    {% if line contains '<b>Carats</b>'  %}
                      {% assign Carats = line | split: ':' | last %}
                      <span data-carat="{{ Carats | strip_html | strip }}">
                     , {{ Carats | strip_html | strip }}
                      </span>
                    {% endif %}
                  {% endfor %}
                  {% endif %}
                {% if product.metafields.Diamond.color != blank %}
                  <span data-color="{{ product.metafields.Diamond.color }}">
                  , {{ product.metafields.Diamond.color }} 
                  </span>
                  {% else %}
                  {% assign description = product.description | split: '<br>' %}
                  {% for line in description %}
                    {% if line contains '<b>Color</b>' %}
                      {% assign Color = line | split: ':' | last %}
                    <span data-color="{{ Color | strip_html | strip }}">
                     , {{ Color | strip_html | strip }} 
                    </span>
                    {% endif %}
                  {% endfor %}
                  {% endif %}
                {% if product.metafields.Diamond.clarity != blank %}
                    <span data-clarity="{{ product.metafields.Diamond.clarity }}">
                    , {{ product.metafields.Diamond.clarity }} 
                    </span>
                   {% else %}
                  {% assign description = product.description | split: '<br>' %}
                  {% for line in description %}
                    {% if line contains '<b>Clarity</b>' %}
                      {% assign Clarity = line | split: ':' | last %}
                    <span data-clarity="{{ Clarity | strip_html | strip }}">
                      , {{ Clarity | strip_html | strip }} 
                    </span>
                    {% endif %}
                  {% endfor %}
                  {% endif %}
                {% if product.metafields.Diamond.cut != blank %}
                  <span data-cut="{{ product.metafields.Diamond.cut }}">
                  {{ product.metafields.Diamond.cut }}
                  </span>
                  {% else %}
                  {% assign description = product.description | split: '<br>' %}
                  {% for line in description %}
                    {% if line contains '<b>Cut</b>' %}
                      {% assign Cut = line | split: ':' | last %}
                      {% if Cut == blank %}
                      {% else %}
                  <span data-cut="{{ Cut | strip_html | strip }}">
                        
                       , {{ Cut | strip_html | strip }}
                  </span>
                    {% endif %}
                        
                    {% endif %}
                  {% endfor %}
                  {% endif %}
              </div>
            <div class="desc" id ="product_meta_item" style="display:none;">
              {% if product.metafields.Diamond.shape != blank %}
                  {{ product.metafields.Diamond.shape }} 
            
              {% elsif product.metafields.Diamond.weight != blank %} 
                  , {{ product.metafields.Diamond.weight }}
          
              {% elsif product.metafields.Diamond.color != blank %}
                  , {{ product.metafields.Diamond.color }} 
            
                {% elsif product.metafields.Diamond.clarity != blank %}
                  , {{ product.metafields.Diamond.clarity }} 
                 
                {% elsif product.metafields.Diamond.cut != blank %}
                  {{ product.metafields.Diamond.cut }}
                 {% else %}
                  {% assign description = product.description | split: '<br>' %}
                {{ description }}
                {% endif %}
              
              
  
            </div>
            
  
              {%- if settings.vendor_enable -%}
                <div class="grid-product__vendor">{{ product.vendor }}</div>
              {%- endif -%}
            </div>
            
        </div>  </a>
        <div class="check_box_div">
            <input type="checkbox" id="{{ product.id }}" value="{{ product.id }}" >
            <label for="{{ product.id }}"></label>
        </div>
      <a href="diamond-detail?product_id={{ product.id }}" class="grid-item__link">  <div class="grid-item__meta-secondary">
              <div class="grid-product__price">
                {%- if product.price_varies -%}
                  <span class="grid-product__price--current">
                    {%- render 'price-varies', price: product.price_min -%}
                  </span>
                {%- else -%}
                  {%- if on_sale -%}
                    <span class="">{{ 'products.general.sale_price' | t }}</span>
                  {%- endif -%}
                  <span class="grid-product__price--current">
                    {%- render 'price' with product.price -%}
                  </span>
                {%- endif -%}
                {%- if on_sale -%}
                  <span class="">{{ 'products.general.regular_price' | t }}</span>
                  <span class="grid-product__price--original">
                    {%- render 'price' with product.compare_at_price -%}
                  </span>
  
                  {%- if settings.product_save_amount -%}
                    {%- if settings.product_save_type == 'dollar' -%}
                      {%- capture saved_amount -%}{{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}{%- endcapture -%}
                    {%- else -%}
                      {%- capture saved_amount -%}{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round }}%{%- endcapture -%}
                    {%- endif -%}
                    <span class="grid-product__price--savings">
                      {{ 'products.general.save_html' | t: saved_amount: saved_amount }}
                    </span>
                  {%- endif -%}
                {%- endif -%}
  
                {%- assign product_variant = product.selected_or_first_available_variant -%}
                {%- if product_variant.unit_price_measurement -%}
                  <div class="product__unit-price">
                    {%- capture unit_price_base_unit -%}
                      {%- if product_variant.unit_price_measurement -%}
                        {%- if product_variant.unit_price_measurement.reference_value != 1 -%}
                          {{ product_variant.unit_price_measurement.reference_value }}
                        {%- endif -%}
                        {{ product_variant.unit_price_measurement.reference_unit }}
                      {%- endif -%}
                    {%- endcapture -%}
  
                    {{ product_variant.unit_price | money }}/{{ unit_price_base_unit }}
                  </div>
                {%- endif -%}
              </div>
              
            </div>
      </a>
    </div>
  </div>