{{ 'ring_builder.css' | asset_url | stylesheet_tag }}
{{ 'diamond.css' | asset_url | stylesheet_tag }}
<!-- datatable start -->

{%- liquid
  assign isModal = false
  if template == 'product.modal'
    assign isModal = true
  endif

  assign isAjax = false
  if template == 'product.ajax'
    assign isAjax = true
  endif
-%}

{{ 'ion.rangeSlider.css' | asset_url | stylesheet_tag }}
{{ 'ion.rangeSlider.skinNice.css' | asset_url | stylesheet_tag }}
<script src="{{ 'ion.rangeSlider.js' | asset_url }}" defer="defer"></script>

<!-- Your other scripts -->
<script src="{{ 'script.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'manage_diamond.js' | asset_url }}" defer="defer"></script>

<!-- datatable end -->

<section class="" id="search_div" style="">
  {% render 'step-list' %}
  <div class="custom-container">
  <form action="javascript:void(0)" method="post" id="form">
    <div class="filter">
      <div class="row mx-0">

         <div class="product-block btn_block"><button id="reset_btn" class="btn">Reset Option</button></div>
        <!-- <div class="col-12  col-sm-12">
          <div class="ring-style-list" id="#rings">
		 			<div class="stone-box">
                       
                          <input type="checkbox" name="setting[]" id="idshapeHalo" value="Halo">
                            <a href="#" class="a-btn active">
                              <img src="{{ 'ring_style-halo.svg' | asset_url }}">
                            </a>
    		 				<p>Halo</p>
                       
		 			</div>
		 			<div class="stone-box">
                      <input type="checkbox" name="setting[]" id="idshapesolitaire" value="Solitaire">
		 				<a href="#" class="a-btn">
                          <img src="{{ 'ring_style-solitaire.svg' | asset_url }}">
                        </a>
		 				<p>Solitaire</p>
		 			</div>
		 			<div class="stone-box">
                        <input type="checkbox" name="setting[]" id="idshapethreestone" value="Three Stone">
		 				<a href="#" class="a-btn">
                          <img src="{{ 'ring_style-3-stone.svg' | asset_url }}">
                        </a>
		 				<p>Three Stone</p>
		 			</div>
		 			<div class="stone-box">
                        <input type="checkbox" name="setting[]" id="idshapechannelset" value="Channel Set">
		 				<a href="#" class="a-btn">
                          <img src="{{ 'ring_style-single-row1.png' | asset_url }}"></a>
		 				<p>Channel Set</p>
		 			</div>
		 			<div class="stone-box">
                        <input type="checkbox" name="setting[]" id="idshapevintage" value="Vintage">
		 				<a href="#" class="a-btn">
                          <img src="{{ 'ring_style-vintage.svg' | asset_url }}"></a>
		 				<p>Vintage</p>
		 			</div>
		 			<div class="stone-box">
                      <input type="checkbox" name="setting[]" id="idshapematching-band" value="Multirow">
		 				<a href="#" class="a-btn">
                          <img src="{{ 'ring_style-has-matching-band.svg' | asset_url }}"></a>
		 				<p>Multirow</p>
		 			</div>
		 			<div class="stone-box">
                      <input type="checkbox" name="setting[]" id="idshapebypass" value="Bypass">
		 				<a href="#" class="a-btn">
                          <img src="{{ 'ring_style-bypass.png' | asset_url }}"></a>
		 				<p>Bypass</p>
		 			</div>	
		 			<div class="stone-box">
                      <input type="checkbox" name="setting[]" id="idshapepave" value="Pave">
		 				<a href="#" class="a-btn">
                          <img src="{{ 'ring_style-pave1.png' | asset_url }}"></a>
		 				<p>Pave</p>
		 			</div>
		 			<div class="stone-box">
                      <input type="checkbox" name="setting[]" id="idshapesidestone" value="Side Stone">
		 				<a href="#" class="a-btn">
                          <img src="{{ 'ring_style-sidestone.svg' | asset_url }}"></a>
		 				<p>Side Stone</p>
		 			</div>
		 			<div class="stone-box">
                       <input type="checkbox" name="setting[]" id="idshapeOthers" value="">
		 				<a href="#" class="a-btn">
                          <img src="{{ 'ring_style-other.png' | asset_url }}">
                        </a>
		 				<p>Others</p>
		 			</div>
		 		</div>
        </div> -->

        <!-- <div class="col-sm-12"> -->
          <!-- <div class="search_filter_cut tps_filter row padding-tb">
              <div class="label_div">
                <label class="tx-center">Shapes</label>
              </div>
          <div class="tps_inputrange_shape">
            <ul class="tps_diamond_shapes shapes-display" id="tps_diamond_shapes">
              <li class="idshaperound">
                <label for="idshaperound">
                  <input type="checkbox" name="checkbox[]" id="idshaperound" value="Round">
                  <a title="Round" class="">
                  <div class="text_shape">Round</div>
                    <div class="img_shape round">
                      <img src="{{ 'round.webp' | asset_url }}" class="whit-img img-fluid width_new">
                    </div>
                    
                  </a>
                </label>
              </li>
             <li>
                <label for="idshapeprinces">
                  <input type="checkbox" name="checkbox[]" id="idshapeprinces" value="PRINCESS">
                  <a title="Princess">
                    <div class="text_shape">Princess</div>
                    <div class="img_shape princess">
                      <img src="{{ 'princess.webp' | asset_url }}" 
                        class="whit-img img-fluid width_new">
                    </div>
                    
                  </a>
                </label>
              </li>
             <li>
                <label for="idshapecushion">
                  <input type="checkbox" name="checkbox[]" id="idshapecushion" value="CUSHION">
                  <a title="Cushion">
                    <div class="text_shape">Cushion</div>
                    <div class="img_shape cushion">
                      <img src="{{ 'cushion.webp' | asset_url }}" 
                        class="whit-img img-fluid width_new">
                    </div>
                    
                  </a>
                </label>
              </li>
             
              <li>
                <label for="idshapeemerald">
                  <input type="checkbox" name="checkbox[]" id="idshapeemerald" value="EMERALD">
                  <a title="Emerald">
                    <div class="text_shape">Emerald</div>
                    <div class="img_shape emerald">
                      <img src="{{ 'emerald.webp' | asset_url }}" 
                        class="whit-img img-fluid width_new">
                    </div>
                    
                  </a>
                </label>
              </li>
              <li>
                <label for="idshapeoval">
                  <input type="checkbox" name="checkbox[]" id="idshapeoval" value="OVAL">
                  <a title="Oval">
                    <div class="text_shape">Oval</div>
                    <div class="img_shape oval">
                      <img src="{{ 'oval.webp' | asset_url }}" 
                        class="whit-img img-fluid width_new">
                    </div>
                    
                  </a>
                </label>
              </li>
              <div class="clearfix"></div> 
             <li>
                <label for="idshaperadiant">
                  <input type="checkbox" name="checkbox[]" id="idshaperadiant" value="RADIANT">
                  <a title="Radiant">
                     
                    <div class="img_shape radiant">
                      <img src="{{ 'radiant.webp' | asset_url }}" 
                        class="whit-img img-fluid width_new">
                    </div>
                   <div class="text_shape text-shape-2">Radiant</div>
                  </a>
                </label>
              </li>
             <li>
                <label for="idshapeasscher">
                  <input type="checkbox" name="checkbox[]" id="idshapeasscher" value="ASSCHER">
                  <a title="Asscher">
                    
                    <div class="img_shape asscher">
                      <img src="{{ 'asscher.webp' | asset_url }}" 
                        class="whit-img img-fluid width_new">
                    </div>
                    <div class="text_shape text-shape-2">Asscher</div>
                  </a>
                </label>
              </li>
             
             <li>
                <label for="idshapemarquise">
                  <input type="checkbox" name="checkbox[]" id="idshapemarquise" value="MARQUISE">
                  <a title="Marquise">
                    <div class="img_shape marquies">
                      <img src="{{ 'marquise.webp' | asset_url }}" 
                        class="whit-img img-fluid width_new">
                    </div>
                    <div class="text_shape text-shape-2">Marquise</div>
                  </a>
                </label>
              </li>
             <li>
                <label for="idshapeheart">
                  <input type="checkbox" name="checkbox[]" id="idshapeheart" value="HEART">
                  <a title="Heart">
                    <div class="img_shape heart">
                      <img src="{{ 'heart.webp' | asset_url }}" class="whit-img img-fluid width_new">
                    </div>
                    <div class="text_shape text-shape-2">Heart</div>
                  </a>
                </label>
              </li>
              <li>
                <label for="idshapepear">
                  <input type="checkbox" name="checkbox[]" id="idshapepear" value="PEAR">
                  <a title="Pear">
                    <div class="img_shape pear">
                      <img src="{{ 'pear.webp' | asset_url }}" 
                        class="whit-img img-fluid width_new">
                    </div>
                    <div class="text_shape text-shape-2">Pear</div>
                  </a>
                </label>
              </li>
            </ul>
          </div>

   
          </div> -->
          
      
          <!-- <div class="search_filter_cut tps_filter row padding-tb ">      
             <div class="col-sm-12 col-md-4 col-lg-4 col-12 pt-4">
              <div class="display-flex row new_add" style="flex-direction:column">
              <div class="label_div">
                <label class="tx-center">Carat</label>
              </div>
                <div class="d-center">
                        <div class="range_group">
                            <input type="text" id="range_56" value="" name="size" />
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 px-0">
                            <input type="number" step="0.02" min="0.02" max="30" id="range_56_input_from"  onkeyup="setSliderFromTo1()"  class=" pull-left text-design"/>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 px-0">
                            <input type="number" step="0.02" min="0.02" max="30" id="range_56_input_to"  onkeyup="setSliderFromTo1()" class="pull-right text-design"/> 
                            </div>
                        </div>
               
                 
                </div>
            </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-12 pt-4 ">
              <div class="display-flex row new_add" style="flex-direction:column">
              <div class="label_div">
                <label class="tx-center">Clarity</label>
              </div>
              <div class="d-center">
                 <div class="range_group">
                         <input type="text" id="range_50" value="" name="clarity" />
                        </div>
            
              </div>
            </div>
            </div> 
             <div class="col-sm-12 col-md-4 col-lg-4 col-12 pt-4 ">
                <div class="display-flex row new_add" style="flex-direction:column">
                <div class="label_div">
                  <label class="tx-center">Price</label>
                </div>
                  <div class="d-center">
                            <div class="range_group">
                            <input type="text" id="range_55" value="" name="price" />
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 px-0">
                              <input type="text" id="range_55_input_from"  onchange="price_range()" class=" pull-left text-design"/>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 px-0">
                              <input type="text" id="range_55_input_to"  onchange="price_range()" class="pull-right text-design"/>
                            </div>
                        </div>
                   
                  </div>
                </div>
              </div>

              
            
          </div> -->
        <!-- </div> -->
      </div>
    </div>

  </form>
    </div>
</section>

    <!-- <button id="downloadButton">Download Selected Items</button> -->
<div class="containter container_table" >
  
   <div {{ block.shopify_attributes }} >
     {%- paginate collections.choose-a-setting.products by 1000 -%}

{% assign totalProducts = collections.choose-a-setting.products.size %}
  Total Products: {{ totalProducts }}
                  

  <div class="new-grid product-grid collection-grid choose-a-setting-grid mx-15" data-scroll-to>
    {%- for item in collections.choose-a-setting.products -%}
      {%- render 'custom-product-grid-item', product: item -%}
    {%- endfor -%}
  </div>
{%- endpaginate -%}
              </div>


</div>
<script>
  

 
document.addEventListener("DOMContentLoaded", function() {

    var currentPageURL = window.location.href;
    var targetElement = document.getElementById('choose-ring');
    var expectedURL = currentPageURL;
    if (currentPageURL === expectedURL) {
        targetElement.classList.add('active');
    }
 const urlParams = new URLSearchParams(window.location.search);
  
        const selectedVariantContainer = document.getElementById('selected-variant-container');
        const selecteddiamondContainer = document.getElementById('selected-diamond-container');
              selectedVariantContainer.innerHtml = ""
  
        const selectedVariantId = localStorage.getItem('selectedVariantId');
        const selectedDVariantId = localStorage.getItem('selectedDVariantId');
        const selectedRingId = localStorage.getItem('selectedRingId');
        const selectedDiamondId = localStorage.getItem('selectedDiamondId');
  
        function hideResetButton() {
              const resetBtn = document.getElementById('reset_btn');
              resetBtn.style.display = 'none';
          }

  if (selectedVariantId || selectedDVariantId || selectedRingId || selectedDiamondId) {
       const resetBtn = document.getElementById('reset_btn');    
             resetBtn.addEventListener('click', function() {
              localStorage.clear();
              window.location.href = 'https://ring-premier-one.myshopify.com/pages/ring-builder';
                
        });


  
        fetch(`/admin/api/2024-01/products/${selectedRingId}.json`, {
          headers: {
            'X-Shopify-Access-Token': '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',
          }
        })
        .then(response => response.json())
        .then(productData => {
    
             console.log(productData);
            const productTitle = productData.title || productData.product.title;
             const titleElement = selectedVariantContainer.querySelector('#product-title');
              titleElement.textContent = productTitle;
        })
        .catch(error => console.error('Error fetching variant details:', error));
  
        fetch(`/admin/api/2024-01/variants/${selectedVariantId}.json`, {
                        headers: {
                          'X-Shopify-Access-Token': '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',
                      }
                    })
        .then(response => response.json())
        .then(variantData => {
          const variantPrice = variantData.variant.price;
           const priceElement = selectedVariantContainer.querySelector('#variant-price');
                priceElement.textContent = formatMoney(variantPrice);
        })
        .catch(error => console.error('Error fetching variant details:', error));


        fetch(`/admin/api/2024-01/products/${selectedDiamondId}.json`, {
          headers: {
            'X-Shopify-Access-Token': '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',
          }
        })
        .then(response => response.json())
        .then(diamondData => {
             // console.log(diamondData);
             // const productTitle = diamondData.title || diamondData.product.title;
             const productTitle = diamondData.product.variants[0].sku ;
             const titleElement = selecteddiamondContainer.querySelector('#product-title');
             const linkElement = document.createElement('a');
                    linkElement.textContent = productTitle;
                    linkElement.href = 'https://ring-premier-one.myshopify.com/pages/diamond-detail?product_id='+ diamondData.product.id ; // Adjust the URL as needed
                  
                  // Append the <a> tag to the title element
                  titleElement.appendChild(linkElement);
                   // titleElement.textContent = productTitle;
          
             const variantPrice = diamondData.product.variants[0].price;
             const priceElement = selecteddiamondContainer.querySelector('#variant-price');
                   priceElement.textContent = formatMoney(variantPrice);})
  } else{
    hideResetButton();
  }
  
    });

</script>

